
Helloword/.idea/misc.xml
*.log
*.class
Helloword/.idea/misc.xml
TestMINA/.idea/workspace.xml
TestMINA/out/artifacts/TestMINA_jar/TestMINA.jar
.idea/vcs.xml
.idea/Hello-word.iml
.idea/modules.xml
.idea/workspace.xml
*.class
*.class
